@font-face {
  font-family: 'map-line';
  src:  url('fonts/map-line.eot?cvi0tb');
  src:  url('fonts/map-line.eot?cvi0tb#iefix') format('embedded-opentype'),
    url('fonts/map-line.ttf?cvi0tb') format('truetype'),
    url('fonts/map-line.woff?cvi0tb') format('woff'),
    url('fonts/map-line.svg?cvi0tb#map-line') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cc-map-lines-"], [class*=" cc-map-lines-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'map-line' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cc-map-lines-cart:before {
  content: "\e93a";
}
.cc-map-lines-play2:before {
  content: "\ea15";
}
.cc-map-lines-pause:before {
  content: "\ea16";
}
.cc-map-lines-stop:before {
  content: "\ea17";
}
